@model List<BE_City_Asessment.Models.ProductModel>

@{
    ViewData["Title"] = "Product List";
}

<h1>Product list</h1>

<div>
    
    <hr />
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Name)</th>
            <th>
                @Html.DisplayNameFor(m => m.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.First().MarkupPrice)
            </th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>@item.Name</td>
        <td>@item.Description</td>
        <td>@item.MarkupPrice</td>



    </tr>
        }
    </table>
